html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke: #33acff;
  stroke-width: 2px;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 75px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    color: white;
}

@media (max-width: 1200px)